<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOTIVA</title>

    <style>
        body {
            background-color: #f2f2f2;
        }

        .encabezado {
            background-color: lightgreen;
            padding: 15px;
            text-align: left;
        }

        h1 {
            font-family: Arial;
            color: darkgreen;
        }

        .caja {
            border: 2px solid black;
            margin: 20px;
            padding: 10px;
            background-color: white;
        }
    </style>
</head>

<body>

    <div class="encabezado">
        <h1>MOTIVA</h1>
    </div>

    <div class="caja">
        <p>Bienvenido MOTIVA Prueba.</p>
    </div>
    <div class="Botones">
        <a href="http://127.0.0.1:8000/pagecuentas/inicio"><button>Vendedores</button></a>
        <a href="http://127.0.0.1:8000/pageclientes/inicio"><button>Clientes</button></a>
        <a href="http://127.0.0.1:8000/pagebancos/inicio"><button>Produtos</button></a>
        <a href="http://127.0.0.1:8000/pageinventario/inicio"><button>Inventarios</button></a>
</body>

</html>
